:root{
    --grid-size: 16;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("https://wallpapertag.com/wallpaper/full/b/a/3/267747-popular-background-images-2560x1600-for-mac.jpg");
}
.banner{
    font-family: 'Lobster', cursive;
    font-size: 3em;
    text-align: center;
    color: rgb(19, 186, 252);
    background-color: azure;
    margin: 0 auto 20px auto;
    width: 500px;
    border-radius: 5px;
}
#container{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: grid;
    grid-template: repeat(var(--grid-size), 1fr) /repeat(var(--grid-size), 1fr);
    background-color: white;
    /*grid-gap: 5px;
    padding: 10px;*/
}

#container div{
    text-align: center;
    font-size: 30px;
    color: rgb(238, 238, 238);
    background-color: white;
    border: 1px solid black;
    height: 100%;
    width: 100%;
}
#editButton{
    width: 10em;
    margin: 10px auto;
    background-color: rgb(19, 100, 252);
    font-size: 1.2em;
    color: azure;
    padding: 10px;
    border: 1px solid rgb(19, 100, 252);
}
#editButton:hover{ 
    cursor: pointer;
    background-color: rgb(56, 125, 255);
    border-color: rgb(56, 125, 255);
}
#editButton:active{
    background-color: rgb(19, 186, 252);
    border-color:rgb(19, 186, 252);
}