:root{
    --grid-size: 16;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("https://wallpapertag.com/wallpaper/full/b/a/3/267747-popular-background-images-2560x1600-for-mac.jpg");
}
#container{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: grid;
    grid-template: repeat(var(--grid-size), 1fr) /repeat(var(--grid-size), 1fr);
    background-color: white;
    /*grid-gap: 5px;
    padding: 10px;*/
}

#container div{
    text-align: center;
    font-size: 30px;
    color: rgb(238, 238, 238);
    background-color: white;
    border: 1px solid black;
    height: 100%;
    width: 100%;
}

button{
    width: 10em;
    margin: 0 auto;
}